# #################
# Ignore file
# #################
**/*.~
**/*.bak
**/*.swp

# #################
# Build
# #################
.gradle/
target/
build/

# #################
# Eclipse files
# #################
.eclipse
.classpath

